{{#eq type compare="default"}}
    {{#each channel}}
    {{#gte @index compare=../index_start}}
    {{#gte @index compare=../index_end}}
    {{else}}
    <article class="border-top row no-gutter py-3 px-0">
        <div class="col-md-3 mb-3">
            <span class="ratiobox ratiobox--16_9 lqd">
                <img src="./assets/images/img1.jpg" alt="">
            </span>
        </div>
        <div class="col-md-5">
            <p class="mb-1"><b>Nama Barang</b></p>
            <p class="text-muted"><small>Jumlah: 1 | 500gram</small></p>
        </div>
        <div class="col-md-4">
            <p class="text-primary">Rp. 170.000</p>
        </div>
    </article>
    {{/gte}}
    {{else}}
    {{/gte}}
    {{/each}}
{{else}}
{{#eq type compare="checkout"}}
    {{#each channel}}
    {{#gte @index compare=../index_start}}
    {{#gte @index compare=../index_end}}
    {{else}}
    <article class="row py-3 px-0">
        <div class="col-md-3 mb-3">
            <span class="ratiobox lqd">
                <img src="./assets/images/img1.jpg" alt="">
            </span>
        </div>
        <div class="col-md-5">
            <p class="mb-1"><b>Nama Barang</b></p>
            <p class="mb-1 text-primary">Rp. 177.000</p>
            <p class="text-muted"><small>Jumlah: 1 | 500gram</small></p>
        </div>
        <div class="col-md-4">
            <div class="dropdown">
                <button class="btn btn-light btn-lg dropdown-toggle w-100" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ship mr-2"></i> Pilih Pengiriman
                </button>
                <div class="dropdown-menu dropdown-menu-right w-100" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-item">
                        <div class="form-group row no-gutter w-100">
                            <label for="exampleFormControlSelect1" class="mt-1"><span
                                    class="align-middle">SimpelJek</span></label>
                            <select class="form-control w-100" id="exampleFormControlSelect1">
                                <option>Food</option>
                                <option>Komoditas</option>
                            </select>
                        </div>
                    </div>
                    <div class="dropdown-item">
                        <div class="form-group row no-gutter w-100">
                            <label for="exampleFormControlSelect1" class="mt-1"><span
                                    class="align-middle">JNE</span></label>
                            <select class="form-control w-100" id="exampleFormControlSelect1">
                                <option>Reguler</option>
                                <option>Yes</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    {{/gte}}
    {{else}}
    {{/gte}}
    {{/each}}
{{else}}
{{#eq type compare="dashboard"}}
    {{#each channel}}
    {{#gte @index compare=../index_start}}
    {{#gte @index compare=../index_end}}
    {{else}}
    <article class="row py-3 px-0 border-top">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4 mb-2">
                    <span class="ratiobox lqd">
                        <img src="./assets/images/img1.jpg" alt="">
                    </span>
                </div>
                <div class="col-md-8">
                    <p class="mb-1"><b>Nama Barang</b></p>
                    <p class="mb-1 text-primary">Rp. 177.000</p>
                    <p class="text-muted"><small>Jumlah: 1 | 500gram</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3">
                    <p class="mb-1"><b>Status</b></p>
                    <p>Menunggu Konfirmasi</p>
                </div>
                <div class="col-md-3">
                    <p class="mb-1"><b>Batal Otomatis</b></p>
                    <p>2 Jam 1 Menit</p>
                </div>
                <div class="col-md-3">
                    <p class="mb-1"><b>Total Bayar</b></p>
                    <p class="text-primary">Rp. 177.000</p>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary w-100 mb-1">BAYAR</button>
                    <button class="btn btn-light w-100">BATALKAN</button>
                </div>
            </div>
        </div>
    </article>
    {{/gte}}
    {{else}}
    {{/gte}}
    {{/each}}
{{else}}
{{/eq}}
{{#eq type compare="order"}}
    {{#each channel}}
    {{#gte @index compare=../index_start}}
    {{#gte @index compare=../index_end}}
    {{else}}
    <article class="row py-3 px-0 border-top">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4 mb-2">
                    <span class="ratiobox lqd">
                        <img src="./assets/images/img3.jpg" alt="">
                    </span>
                </div>
                <div class="col-md-8">
                    <p class="mb-1"><b>Nama Barang</b></p>
                    <p class="mb-1 text-primary">Rp. 177.000</p>
                    <p class="text-muted"><small>Qty: 1 | 500gram</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-2">
                    <p class="mb-1"><b>Alamat</b></p>
                    <p>Jalan Bungur Bogor</p>
                </div>
                <div class="col-md-2">
                    <p class="mb-1"><b>Status</b></p>
                    <p>Pesanan Baru</p>
                </div>
                <div class="col-md-2">
                    <p class="mb-1"><b>Batal Otomatis</b></p>
                    <p class="">2 Jam 30 Menit</p>
                </div>
                <div class="col-md-2">
                    <p class="mb-1"><b>Kurir</b></p>
                    <p class="">Simplejek</p>
                </div>
                <div class="col-md-2">
                    <p class="mb-1"><b>Total Harga</b></p>
                    <p class="text-primary">Rp. 504.000</p>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success btn-sm w-100 mb-2">TERIMA</button>
                    <button class="btn btn-light btn-sm w-100 mb-2">TOLAK</button>
                    <button class="btn btn-secondary btn-sm w-100">DETAIL</button>
                </div>
            </div>
        </div>
    </article>
    {{/gte}}
    {{else}}
    {{/gte}}
    {{/each}}
{{else}}
{{/eq}}
{{#eq type compare="order2"}}
    {{#each channel}}
    {{#gte @index compare=../index_start}}
    {{#gte @index compare=../index_end}}
    {{else}}
    <article class="row py-3 px-0 border-top">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4 mb-2">
                    <span class="ratiobox lqd">
                        <img src="./assets/images/img5.jpg" alt="">
                    </span>
                </div>
                <div class="col-md-8">
                    <p class="mb-1"><b>Nama Barang</b></p>
                    <p class="mb-1 text-primary">Rp. 177.000</p>
                    <p class="text-muted"><small>Qty: 1 | 500gram</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-2">
                    <p class="mb-1"><b>Alamat</b></p>
                    <p>Jalan Bungur Bogor</p>
                </div>
                <div class="col-md-2">
                    <p class="mb-1"><b>Status</b></p>
                    <p>Pesanan Baru</p>
                </div>
                <div class="col-md-2">
                    <p class="mb-1"><b>Batal Otomatis</b></p>
                    <p class="">2 Jam 30 Menit</p>
                </div>
                <div class="col-md-2">
                    <p class="mb-1"><b>Kurir</b></p>
                    <p class="">Simplejek</p>
                </div>
                <div class="col-md-2">
                    <p class="mb-1"><b>Total Harga</b></p>
                    <p class="text-primary">Rp. 504.000</p>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success btn-sm w-100 mb-2">KIRIM</button>
                    <button class="btn btn-secondary btn-sm w-100">DETAIL</button>
                </div>
            </div>
        </div>
    </article>
    {{/gte}}
    {{else}}
    {{/gte}}
    {{/each}}
{{else}}
{{/eq}}
{{#eq type compare="order3"}}
    {{#each channel}}
    {{#gte @index compare=../index_start}}
    {{#gte @index compare=../index_end}}
    {{else}}
    <article class="row py-3 px-0 border-top">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4 mb-2">
                    <span class="ratiobox lqd">
                        <img src="./assets/images/img6.jpg" alt="">
                    </span>
                </div>
                <div class="col-md-8">
                    <p class="mb-1"><b>Nama Barang</b></p>
                    <p class="mb-1 text-primary">Rp. 177.000</p>
                    <p class="text-muted"><small>Qty: 1 | 500gram</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-2">
                    <p class="mb-1"><b>Alamat</b></p>
                    <p>Jalan Bungur Bogor</p>
                </div>
                <div class="col-md-2">
                    <p class="mb-1"><b>Status</b></p>
                    <p>Pesanan Baru</p>
                </div>
                <div class="col-md-2">
                    <p class="mb-1"><b>Batal Otomatis</b></p>
                    <p class="">2 Jam 30 Menit</p>
                </div>
                <div class="col-md-2">
                    <p class="mb-1"><b>Kurir</b></p>
                    <p class="">Simplejek</p>
                </div>
                <div class="col-md-2">
                    <p class="mb-1"><b>Total Harga</b></p>
                    <p class="text-primary">Rp. 504.000</p>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-secondary btn-sm w-100">DETAIL</button>
                </div>
            </div>
        </div>
    </article>
    {{/gte}}
    {{else}}
    {{/gte}}
    {{/each}}
{{else}}
{{/eq}}
{{#eq type compare="simple"}}
    {{#each channel}}
    {{#gte @index compare=../index_start}}
    {{#gte @index compare=../index_end}}
    {{else}}
    <article class="row py-3 px-0 border-top">
        <div class="col-md-2 mb-2">
            <span class="ratiobox lqd">
                <img src="./assets/images/img6.jpg" alt="">
            </span>
        </div>
        <div class="col-md-10">
            <p class="mb-1"><b>Nama Barang</b></p>
            <p class="mb-1 text-primary">Rp. 177.000</p>
        </div>
    </article>
    {{/gte}}
    {{else}}
    {{/gte}}
    {{/each}}
{{else}}
{{/eq}}
{{/eq}}
{{/eq}}
